/*Swipe*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    width: min(1200px, 100%);
    box-shadow: 0 5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
    z-index: 10;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 0 35px;
    text-align: justify;
}

.info p {
    margin-top: 20px;
    color: black;
    font-weight: 500;
    font-size: 11pt;
    margin-bottom: 20px;
    line-height: 1.5;
}

@keyframes gelatine {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

/* SWIPER */

.swiper {
    width: 250px;
    height: 450px;
    padding: 50px 0;
}

.swiper-slide {
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    /* Mengurangi nilai shadow */
    border-radius: 8px;
    /* Mengurangi nilai border-radius */
}

.swiper-slide span {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 7px 18px;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(74px);
}

.swiper-slide h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0 0 20px 20px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* Sesuaikan jika diperlukan */
}


@media (max-width: 992px) {
    .content {
        flex-direction: column-reverse;
    }

    .btn {
        margin: 10px auto 40px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.contents {
    text-align: center;
    margin-top: 5rem;
    margin-left: 130px;
    padding: 20px;
    position: relative;
}

.contents p {
    color: black;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
}
